project:
  type: website
  render:
    - "*.qmd"
    - "!CONTRIBUTING.md"
    - "!README.md"

website:
  title: "emodnet-bio-r-geo-tutorials"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

editor: visual

