on:
  workflow_dispatch:
    inputs:
      publish:
        description: "Publish to production (uncheck for a dry run)"
        type: boolean
        required: false
        default: true
  push:
    branches: main
  pull_request:
    branches: main

name: Quarto Publish

permissions:
  contents: write
  pages: write
  pull-requests: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    # Only restrict concurrency for non-PR jobs
    concurrency:
      group: quarto-publish-${{ github.event_name != 'pull_request' || github.run_id }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
      PUBLISH: ${{ github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && inputs.publish) }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install R Dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::jsonlite
          needs: website

      - name: Render Quarto Project
        uses: quarto-dev/quarto-actions/render@v2

      - name: Publish to GitHub Pages (Production)
        if: contains(env.PUBLISH, 'true')
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy PR preview to Netlify
        if: contains(env.PUBLISH, 'false')
        uses: nwtgck/actions-netlify@v3.0.0
        with:
          publish-dir: './_site'
          production-branch: main
          github-token: ${{ secrets.GITHUB_TOKEN }}
          enable-commit-comment: false
          enable-commit-status: false
          enable-github-deployment: false
          fails-without-credentials: true
        timeout-minutes: 1
